@charset "utf-8";
.visitorCounter_cp_9{background-position:-135px 0 !important}
.formDialog{display:block;position:absolute;top:150px;left:50%;overflow:hidden;z-index:9032;}
.formDialog .formArc{display:block;width:420px;margin:15px 0 0 0;overflow:hidden}
.formDialog .formTC{background:url(../images/dialog_ct.png) repeat-x;height:40px;color:#FFF;text-align:left;cursor:move;}
.formDialog .formTC h3{background:url(../images/ico_img.gif) no-repeat 3px 11px;padding:10px 0 0 30px;line-height:24px; font-family:"微软雅黑"; font-size:16px;}
.formDialog .formTL{background:url(../images/dialog_lt.png) no-repeat;padding-left:12px;height:40px}
.formDialog .formTR{background:url(../images/dialog_rt.png) no-repeat right 0;padding:0 12px 0 0;*zoom:1;height:40px}
.formDialog .formTCSite{
background:url(../images/bottom_img2.png) repeat-x 0 -30px;height:27px;line-height:27px;margin:0;padding:0;color:#FFF;font-weight:bold;
text-align:left;padding-left:10px;cursor:move;}
.formDialog .formTLSite{background:url(../images/bottom_img2.png) no-repeat;padding-left:3px;height:27px}
.formDialog .formTRSite{background:url(../images/bottom_img2.png) no-repeat right -60px;padding-right:3px;* zoom:1;height:27px}
.formDialog .formXSite{position:absolute;right:1px;top:0;padding:0;width:44px;height:38px;
background:url(../images/close.png) no-repeat 50% 50%;outline:0;cursor:pointer}
.formDialog .formBC{background:#fff;/*padding:0 0 13px 0;*/overflow:hidden;font-family:"微软雅黑";}
.formDialog .formBL{background:url(../images/bl.png) repeat-y left 0;padding:0 0 0 6px;}
.formDialog .formBR{background:url(../images/br.png) repeat-y right 0;padding:0 6px 0 0;*zoom:1}
.formBt{height:13px;width:100%; background:url(../images/close.gif) no-repeat;}
.formBtl{background:url(../images/formbtl.png) no-repeat left bottom;height:6px; padding:0 0 0 12px;}
.formBtm{background:url(../images/bt.png) repeat-x left bottom;height:6px;}
.formBtr{background:url(../images/formbtr.png) no-repeat right bottom;height:6px; padding:0 12px 0 0;}
/*.formDialog .formMSG{color:#317895}*/
.formDialog .formBtns{width:100%;}
.formDialog .formBtns .abutton{margin:0 10px;height:25px;padding:0 3px;cursor:pointer}
.formDialog .formX{position:absolute;right:12px;top:14px;padding:0;width:28px;height:17px;background:url(../images/dialog_closebtn.gif) no-repeat 0 0;outline:0;cursor:pointer}
.formDialog .formX:hover{background:url(../images/dialog_closebtn_over.gif) no-repeat 0 0;}
.formDialog .formH{position:absolute;top:0;right:45px;padding:0;width:43px;height:27px;background:url(../images/newwin.gif) no-repeat 0 -150px;_background:url(../images/h.gif) no-repeat 0 0;outline:0;cursor:pointer}
.formDialog .formH:hover{background-position:0 -180px !important;_background:url(../images/h_hover.gif) no-repeat 0 0}
.waitingP{display:block;background:url(../images/loading_2.gif) no-repeat center center;position:absolute;top:27px;height:180px;margin:7px 1px;}
.popupBg{position:fixed;margin:0;padding:0;top:0;left:0;right:0;bottom:0;height:100%;_position:absolute;_height:expression(body.clientHeight);* width:expression(document.documentElement.clientWidth);background:#000;filter:alpha(opacity = 70);z-index:9032;overflow:hidden;opacity:.7}
.formDialog .formX_old{position:absolute;right:7px;top:4px;padding:0;height:19px;width:19px;background:url(../images/close.gif) no-repeat 0 0 !important;outline:0}
.formDialog .formX_old:hover{background:url(../images/close.gif) no-repeat 0 bottom !important}
.dropdownForm{float:right;width:auto;font-size:12px;margin:0}
.dropdownForm .editBox{float:left;padding:0}
.dropdownForm .editBox a{display:block;padding:0;text-decoration:none;width:auto;white-space:nowrap}
.dropdownForm .editBox ul{min-width:60px;max-width:none;_width:60px;height:auto;list-style:none;z-index:9100;margin:0;padding:0;position:absolute;visibility:hidden;border-top:0 solid white}
.dropdownForm .editBox ul li{float:none;display:inline;margin:0;text-align:left;height:23px;line-height:23px}
.dropdownForm .editBox ul li a{background:#699;color:#fff;padding:0 10px;}
.dropdownForm .editBox ul li a:hover{color:#fff;background:#8ea344}
.sitetips{position:fixed;_position:absolute;width:100%;top:0;left:0;height:30px;line-height:30px;background:#fef5d8;border-bottom:1px solid #e4e6e8;margin:0;padding:0;font-size:18px;text-align:center;font-size:12px;color:#000;z-index:9031}
.sitetips a{text-decoration:underline;color:#666}
.sitetips .sitetipsIcon{display:inline-block;height:30px;padding:0 0 0 18px;line-height:30px;background-position:left !important}
.sitetips .sitetipsTitle{height:30px;line-height:30px;outline:0;cursor:default}
.sitetips .scrollbar{float:right;width:960px;font-size:12px}
.sitetips .scrollbar ul.marquee{display:block;padding:0;margin:0;list-style:none;line-height:30px;position:relative;overflow:hidden;width:960px;height:30px}
.sitetips .scrollbar ul.marquee li{cursor:pointer;line-height:30px;position:absolute;top:-999px;left:0;display:block;white-space:nowrap;font:12px Arial,Helvetica,sans-serif;height:30px;width:960px;text-align:center}
.sitetips .tbutton{text-decoration:none}

* html .ui-autocomplete{width:1px}
.ui-menu{list-style:none;padding:2px;margin:0;display:block}
.ui-menu .ui-menu{margin-top:-3px}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}
.ui-menu .ui-menu-item .ui-state-hover{border:1px solid #cbd0e6;background:#dce7f5;font-weight:normal;color:#212121;cursor:pointer;}
.ui-effects-transfer{border:2px dotted gray}
.ui-resizable-n{cursor:s-resize;height:9px;top:-5px;left:0;width:100%}
.ui-resizable-e{cursor:e-resize;height:100%;right:-5px;top:0;width:9px}
.ui-resizable-handle{display:block;font-size:.1px;position:absolute;z-index:9999}
.ui-resizable-s{bottom:-5px;cursor:s-resize;height:9px;left:0;width:100%}
.ui-resizable-w{cursor:e-resize;height:100%;left:-5px;top:0;width:9px}
.ui-icon{background-image:url(../images/arrow.gif);width:9px;height:5px;}
.ui-icon-gripsmall-diagonal-se{background-position:-84px -228px}
.ui-resizable-se{bottom:1px;cursor:se-resize;right:-0px;bottom:-0px;width:12px;height:12px;filter:alpha(opacity = 50);opacity:.5}
.ui-resizable-sw{bottom:1px;cursor:sw-resize;left:-0px;bottom:-0px;width:12px;height:12px;filter:alpha(opacity = 50);opacity:.5;background:#ccfafa url(../images/bg01.png) -755px -201px no-repeat !important}
.ui-resizable-helper{border:2px dotted gray}
/*.siteBackToTop_small_box{width:41px;height:38px;display:none;cursor:pointer;background:url(../images/backtotop.png) no-repeat;position:fixed;z-index:9030;right:18px;bottom:50px}*/
.cloud-zoom-lens{border:4px solid #888;margin:-4px;background-color:#fff;cursor:pointer}
.cloud-zoom-title{font-family:Arial,Helvetica,sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0}
.cloud-zoom-big{border:4px solid #ccc;overflow:hidden}
.cloud-zoom-loading{color:white;background:#222;padding:3px;border:1px solid #000}
.weather2{margin:0;padding:0;float:left;width:250px;line-height:27px}
ul.weather2 li{margin:0 4px;float:left;list-style:none}
ul.weather2 li em{font-style:normal}
.formMiddleContent .includeWeather11{height:80px}
.formMiddleContent .includeWeather12{height:135px}
.formMiddleContent .includeWeather7{height:35px}
.formMiddleContent .includeWeather5{height:33px}
.formMiddleContent .includeWeather1{height:27px}
.formMiddleContent .includeWeather3{height:35px}
.weather2 .left12{width:110px;text-align:center;float:left;margin-right:5px;height:135px}
.weather2 .right12{width:130px;text-align:left;float:left;height:135px}
.weather2 .right12 .temperature12{width:70px;float:left}
.weather2 .right12 .windInclude12 .wind12{width:70px;float:left}
.weather2 .right12 .windInclude12{height:34px}
.weather2 .right12 .temperatureInclude12{height:34px}
.weather2 .right12 .windDirectionInclude12{line-height:23px}
.weather2 .right12 .windDirectionInclude12 .windDirection12{width:70px;float:left}
.weather2 .left12 .weatherCon12 div{float:left;}
/*.formMiddleContent .weather2Loading{top:0;width:100%;height:100%;position:absolute;background:url(../images/loading_1.gif) no-repeat 50% 50%}*/
.weather2 .cityName11{float:left;padding:20px 0 0 10px;line-height:20px;font-weight:bold;font-size:16px;margin-right:10px;}
.weather2 .image111{float:left}
.weather2 .weatherToday11{float:left;line-height:20px}
.weather2 .weatherToday11 .weatherCon11{text-align:center}

.shopping{height:32px;line-height:32px;display:inline-block;margin-left:30px;font-family:}
.totalAmountCss{color:#ab0707}
.cartInfoContent{padding-left:29px;height:30px;line-height:30px;font-size:12px;color:#5d5c5c;letter-spacing:1px;font-family:}
.addItemTextTips{font-size:14px;color:#4f4f4f;height:25px;line-height:25px;font-weight:900;padding-left:29px;font-family:}
.mallCartOperate{height:32px;padding-left:29px;width:100%}

.choiceFileListRemain{height:17px;left:470px;position:absolute;text-align:center;top:46px;width:120px;z-index:2;}
.showFilesContent{border:1px solid #cbcfe5;float:left;height:340px;margin:6px 0 0 6px;overflow-y:auto;width:437px;position:relative;padding:4px 0 0 0;}
.showFilesContent img{display:block;border:1px solid #DBDBDB;padding:3px;float:left;margin:5px 0 2px 5px;}
.choiceFileList{border:1px solid #cbcfe5;height:336px;left:460px;overflow-y:auto;position:absolute;top:71px;width:140px;z-index:2;padding:8px 0 0 0;}
.choiceFileList img{display:block;margin:0 auto 5px auto;border:1px solid #DBDBDB;padding:3px;}
.top_menu{height:25px;margin:3px 0 0 8px;clear:both;overflow:hidden;}
.top_menu01{height:40px;margin:3px 0 0 8px;clear:both;overflow:hidden;}
.bodyDisable{position:absolute;width:100%;height:100%;z-index:100;top:0;left:0;background:#fff;opacity:.6;-moz-opacity:.6;filter:alpha(opacity=60);}
.pagingStyle{width:130px;position:relative;top:2px;margin:0 auto 0 170px;text-align:center;font-family:"";clear:both;overflow:hidden;}
.pagingStyle i,.pagingStyle a{font-style:normal;display:block;background:url(../images/pagelistbk.gif) no-repeat 0 0;width:26px;height:24px;float:left;font-weight:bold;line-height:24px;}
.pagingStyle span{display:block;float:left;background:url(../images/pagelistbk.gif) no-repeat 0 -28px;width:43px;height:24px;line-height:24px;margin:0 8px;}
.pagingStyle a{color:#005598;}
.pagingStyle a:hover{color:#f00;}
.formt_bk{background:url("../images/select_btbk.gif") repeat-x scroll 0 0 transparent;
border-top:1px solid #CBCFE5;height:37px;/*margin:10px 0 0;*/text-align:right; }
.formt_bk .dialog_btn,.formt_bk .dialog_btn_m{color:#32556B;height:23px;line-height:21px;margin:5px 10px 0 0;width:75px;border:0 none;cursor:pointer; font-family:"微软雅黑"}
.formt_bk .dialog_btn{background:url(../images/botom_btn.gif) no-repeat; font-family:"微软雅黑"}
.formt_bk .dialog_btn_m{background:url(../images/botom_btnon.gif) no-repeat;}
.picture_m{margin:13px 0 0 30px;clear:both;overflow:hidden;}
.picture_m h3{float:left;font-weight:normal;font-size:12px;color:#004a99;margin:2px 0 0 0;}
.picture_m h3 span{display:block;margin:52px 0 0 24px;}
.pictureDialog{float:left;}
.mfc_main{position:relative;display:block;width:300px;*width:300px;margin:8px 0;display:block;}
.up_flash{margin:15px 0 10px 0;clear:both;overflow:hidden;height:25px;}
.up_flash span{display:block;float:left;margin:0 10px 0 0;}
.watermarkEditWrap{margin:3px 0 0 0;float:left;}
.edit_main_box{height:162px;}
.edit_main_box p{padding:60px 0 0 30px;}
.texta_main_box{height:162px;}
.texta_main_box span{display:block;float:left;margin:60px 5px 0 20px;}
.text_popupDesc{float:left;margin:20px 0 0 0;width:240px;height:105px;}
